.vercel
node_modules/
dist/
.DS_Store
*.local
nhi_data.csv
*.log
*.tmp
*.bak
*.swp
*.swo
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.cache
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace
*.zip
*.tar.gz
*.7z
*.log
*.tmp
